<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blackspider.agramonia">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.blackspider.AgromoniaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <!--android:networkSecurityConfig="@xml/network_security_config"-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:theme="@style/AppTheme.NoToolbar" />
        <activity
            android:name=".ui.tourist.TouristActivity"
            android:label="@string/title_tourist_activity"
            android:parentActivityName=".ui.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
            <intent-filter android:label="@string/filter_view_http_open_agramonia">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.agramonia.com/tourist” -->
                <data
                    android:host="www.agramonia.com"
                    android:pathPrefix="/tourist"
                    android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.farmer.login.LoginActivity"
            android:label="@string/title_login_activity"
            android:parentActivityName=".ui.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>
        <activity android:name=".ui.farmer.registration.RegistrationActivity"
            android:label="@string/title_registration_activity"
            android:parentActivityName=".ui.farmer.login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.farmer.login.LoginActivity" />
        </activity>
        <activity
            android:name="com.blackspider.util.lib.barcodescanner.SimpleScannerActivity"
            android:label="@string/title_scanner_activity" />

        <activity
            android:name=".ui.farmer.profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.farmer.barcodegenerator.BarcodeGeneratorActivity"
            android:label="@string/title_scanner_activity"
            android:parentActivityName=".ui.farmer.profile.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.farmer.profile.ProfileActivity" />
        </activity>

        <activity
            android:name=".ui.farmer.createblog.CreateBlogActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.farmer.profile.ProfileActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>
    </application>

</manifest>